[submodule "BrownieEssentials"]
	path = BrownieEssentials
	url = https://github.com/michael-steinert-repository/BrownieEssentials.git
[submodule "1inchDexJavascriptMoralis"]
	path = 1inchDexJavascriptMoralis
	url = https://github.com/michael-steinert-repository/1inchDexJavascriptMoralis.git
[submodule "SolidityNftOpenseaJavascript"]
	path = SolidityNftOpenseaJavascript
	url = https://github.com/michael-steinert-repository/SolidityNftOpenseaJavascript.git
[submodule "EthereumCharityNft"]
	path = EthereumCharityNft
	url = https://github.com/michael-steinert-repository/EthereumCharityNft.git
[submodule "MoralisBscEssentials"]
	path = MoralisBscEssentials
	url = https://github.com/michael-steinert-repository/MoralisBscEssentials.git
