[submodule "BrownieEssentials"]
	path = BrownieEssentials
	url = https://github.com/michael-steinert-repository/BrownieEssentials.git
[submodule "1inchDexJavascriptMoralis"]
	path = 1inchDexJavascriptMoralis
	url = https://github.com/michael-steinert-repository/1inchDexJavascriptMoralis.git
[submodule "SolidityNftOpenseaJavascript"]
	path = SolidityNftOpenseaJavascript
	url = https://github.com/michael-steinert-repository/SolidityNftOpenseaJavascript.git
[submodule "EthereumCharityNft"]
	path = EthereumCharityNft
	url = https://github.com/michael-steinert-repository/EthereumCharityNft.git
[submodule "MoralisBscEssentials"]
	path = MoralisBscEssentials
	url = https://github.com/michael-steinert-repository/MoralisBscEssentials.git
[submodule "solidity-playground"]
	path = solidity-playground
	url = https://github.com/michael-steinert-repository/solidity-playground.git
[submodule "PythonSolidityBrownieEssentials"]
	path = PythonSolidityBrownieEssentials
	url = https://github.com/michael-steinert-repository/PythonSolidityBrownieEssentials.git
[submodule "PythonWeb3Essentials"]
	path = PythonWeb3Essentials
	url = https://github.com/michael-steinert-repository/PythonWeb3Essentials.git
[submodule "CeramicNetworkIDXEthereumDecentralizedIdentity"]
	path = CeramicNetworkIDXEthereumDecentralizedIdentity
	url = https://github.com/michael-steinert-repository/CeramicNetworkIDXEthereumDecentralizedIdentity.git
[submodule "TruffleEssentialsRopsten"]
	path = TruffleEssentialsRopsten
	url = https://github.com/michael-steinert-repository/TruffleEssentialsRopsten.git
[submodule "MoralisReactUserAdminDApp"]
	path = MoralisReactUserAdminDApp
	url = https://github.com/michael-steinert-repository/MoralisReactUserAdminDApp.git
[submodule "SolidityWeb3TruffleGanacheReactDeFi"]
	path = SolidityWeb3TruffleGanacheReactDeFi
	url = https://github.com/michael-steinert-repository/SolidityWeb3TruffleGanacheReactDeFi.git
[submodule "SolidityHardhatEthersReactDApp"]
	path = SolidityHardhatEthersReactDApp
	url = https://github.com/michael-steinert-repository/SolidityHardhatEthersReactDApp.git
[submodule "SolidityReactVotingSmartContract"]
	path = SolidityReactVotingSmartContract
	url = https://github.com/michael-steinert-repository/SolidityReactVotingSmartContract.git
[submodule "SolidityIPFSVideoUploadWeb3ReactJS"]
	path = SolidityIPFSVideoUploadWeb3ReactJS
	url = https://github.com/michael-steinert-repository/SolidityIPFSVideoUploadWeb3ReactJS.git
[submodule "SolidityIPFSImageUploadWeb3ReactJS"]
	path = SolidityIPFSImageUploadWeb3ReactJS
	url = https://github.com/michael-steinert-repository/SolidityIPFSImageUploadWeb3ReactJS.git
[submodule "SolidityIPFSFileUploadWeb3ReactJS"]
	path = SolidityIPFSFileUploadWeb3ReactJS
	url = https://github.com/michael-steinert-repository/SolidityIPFSFileUploadWeb3ReactJS.git
[submodule "SolidityStakingCustomTokenWeb3ReactJS"]
	path = SolidityStakingCustomTokenWeb3ReactJS
	url = https://github.com/michael-steinert-repository/SolidityStakingCustomTokenWeb3ReactJS.git
[submodule "SolidityWeb3ECommerceExpressMongooseMongoDBReact"]
	path = SolidityWeb3ECommerceExpressMongooseMongoDBReact
	url = https://github.com/michael-steinert-repository/SolidityWeb3ECommerceExpressMongooseMongoDBReact.git
[submodule "EthereumPolygonNFTNextJsMarketplace"]
	path = EthereumPolygonNFTNextJsMarketplace
	url = https://github.com/michael-steinert-repository/EthereumPolygonNFTNextJsMarketplace.git
